@font-face {
  font-family: Raleway;
  src: url('styled/fonts/Raleway-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Raleway;
  src: url('styled/fonts/Raleway-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Raleway;
  src: url('styled/fonts/Raleway-Medium.ttf');
  font-weight: 500;
}

*{
  padding: 0px;
  margin: 0px;
}